<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: fragment-header"></div>
</head>
<body class="bg-light">

<div class="container">

    <div th:replace="fragments :: logo"></div>

    <div th:if="${message}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">완료</span>
    </div>

    <div class="m-5 d-grid gap-3 col-6 mx-auto">
        <a class="btn btn-outline-secondary" th:href="@{/admin/voucher/vouchers}" > 바우처 조회</a>
        <a class="btn btn-outline-secondary" th:href="@{/admin/voucher/form}"> 바우처 등록</a>
        <a class="btn btn-outline-primary" th:href="@{/admin/voucher/customer}"> 임의 고객 추가</a>
        <a class="btn btn-outline-danger" th:href="@{/admin/voucher/customer/deletion}"> 고객 전체 삭제</a>
    </div>

</div>
<div th:replace="fragments :: fragment-script"></div>
</body>
</html>