<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: fragment-header"></div>
</head>
<body class="bg-light">

<div class="container">

    <div th:replace="fragments :: logo"></div>

    <div class="m-5 d-grid gap-3 col-12 mx-auto">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Voucher Type</th>
                <th>Discount</th>
                <th>Created At</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${voucher.voucherId}"></td>
                <td th:text="${voucher.name}"></td>
                <td th:text="${voucher.voucherType}"></td>
                <td th:text="${voucher.discount}"></td>
                <td th:text="${voucher.createdAt}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        삭제
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">경고!!!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>정말 삭제하시겠습니까?</p>
                                    <p>고객이 해당 바우처를 보유하고 있는 경우 삭제가 불가능합니다.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <form th:action="@{/admin/voucher}" method="post">
                                        <input type="hidden" class="form-control" id="voucherId" name="voucherId" th:value="${voucher.voucherId}">

                                        <button class="btn btn-danger" type="submit"
                                                data-toggle="modal" data-target="#deleteModal"> 삭제
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 d-grid gap-3 col-12 mx-auto">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Customer Type</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">

                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.customerType}"></td>
                <td th:text="${customer.createdAt}"></td>
                <td>
                    <form th:action="@{/admin/wallet/deletion}" method="post" th:object="${walletDto}">
                        <input type="hidden" name="customerId" th:value="${customer.customerId}">
                        <input type="hidden" name="voucherId" th:value="${voucher.voucherId}">

                        <button class="btn btn-danger" type="submit"> 삭제
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="fragments :: fragment-script"></div>
</body>
</html>