<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Hello</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Voucher</h1>
        <p class="lead">고객 기능</p>
        <p>
            <a class="btn btn-primary me-md-2" th:href="@{/customers/new}">고객 등록</a>
            <a class="btn btn-primary me-md-2" th:href="@{/customers}">전체 고객 목록</a>
        </p>
        <p class="lead">바우처 기능</p>
        <p>
            <a class="btn btn-primary me-md-2" th:href="@{/voucher/new}">바우처 생성</a>
            <a class="btn btn-primary me-md-2" th:href="@{/vouchers}">전체 바우처 목록</a>
        </p>
    </div>
</div>
</body>
</html>