<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>HOME</title>
</head>
<body class="container-fluid">
<h1> Voucher Management </h1>
<div class="d-grid gap-2">
    <a th:href="@{/customers}" class="btn btn-primary" type="button">Customer Management</a>
    <a th:href="@{/vouchers}" class="btn btn-primary" type="button">Voucher Management</a>
</div>
</body>
</html>