<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title> New Voucher </title>
</head>
<body class="container-fluid">
    <h1>Create New Voucher</h1>
    <div>
        <form th:action="@{/vouchers}" method="post">
            <div class="mb-3">
                <label for="walletId" class="form-label">WalletId</label>
                <input type="text" name="walletId" class="form-control" id="walletId" th:value="${walletId}" readonly>
            </div>
            <div class="mb-3">
                <label for="voucherType" class="form-label">Voucher Type</label>
                <select id="voucherType" name="voucherType" class="form-select">
                    <option selected>Open select Voucher Type</option>
                    <option value="FIXED_AMOUNT_VOUCHER">Fixed Amount Voucher</option>
                    <option value="PERCENT_DISCOUNT_VOUCHER">Percent Discount Voucher</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control" id="amount">
            </div>
            <input type="hidden" name="customerId" id ="customerId" th:value="${customerId}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>