<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/static/style.css}" rel="stylesheet" />
    <title>Voucher Admin</title>
</head>
<body>
    <h1 class="header">Voucher Admin</h1>
    <div class="container-fluid">
        <h4>고객이 어떤 바우처를 보유하고 있는지 조회하거나, 바우처 할당하거나 삭제하세요</h4>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}" th:object="${customer}" >
                <td>
                    <a th:href="@{'/voucher-wallets/customers/'+ *{customerId}}" th:text="*{customerId}"></a>
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{email}"></td>
            </tr>
            </tbody>
        </table>

        <h4>특정 바우처를 보유한 고객을 조회하세요</h4>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Voucher Type</th>
                <th scope="col">Amount Or Percent</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="voucher: ${vouchers}" th:object="${voucher}" >
                <td>
                    <a th:href="@{'/voucher-wallets/vouchers/'+ *{voucherId}}" th:text="*{voucherId}"></a>
                </td>
                <td th:text="*{voucherType.getTypeName()}"></td>
                <td th:if="${voucher.voucherType == T(org.prgms.voucheradmin.domain.voucher.entity.vo.VoucherType).FIXED_AMOUNT}" th:text="*{amount}"></td>
                <td th:unless="${voucher.voucherType == T(org.prgms.voucheradmin.domain.voucher.entity.vo.VoucherType).FIXED_AMOUNT}" th:text="*{amount+'%'}"></td>
            </tr>
            </tbody>
        </table>

        <div class="beforeBtnArea">
            <a th:href="@{/}" class="btn btn-secondary">이전으로</a>
        </div>
    </div>
</body>
</html>