# IntelliJ IDEA-specific
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
out/
.target/

# Maven-specific
target/
pom.xml.tag
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Include JAR files
!*.jar

#log
.logs/

# OS-specific
.DS_Store
Thumbs.db
