version: '3'

services:
  mysql:
    image: mysql:latest
    restart: unless-stopped
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE : voucher_system
    ports:
      - "3307:3306"
    volumes:
      - ./data/:/var/lib/mysql
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql #schema.sql 실행 설정
