<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Voucher List</title>
</head>

<body>

    <div class="container" style="max-width: 600px">

        <div class="py-5 text-center">
            <h2>List Of Vouchers</h2>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/vouchers/add}'|"
                        type="button">Voucher 등록
                </button>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>할인 금액</th>
                        <th>할인율(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="voucher: ${voucherArrayList}">
                        <td>
                            <a th:if ="${voucher.getType()} eq 'FixedAmountVoucher'" href="information/fixed-information.html" th:href="@{/vouchers/fixed/{voucherId}(voucherId=${voucher.voucherId})}" th:text="${voucher.voucherId}">Voucher Id</a>
                            <a th:if ="${voucher.getType()} eq 'PercentDiscountVoucher'" href="information/fixed-information.html" th:href="@{/vouchers/rate/{voucherId}(voucherId=${voucher.voucherId})}" th:text="${voucher.voucherId}">Voucher Id</a>
                        </td>
                        <td th:text="${voucher.getType()}">PercentDiscountVoucher</a></td>
                        <td>
                            <span th:if = "${voucher.getType()} eq 'FixedAmountVoucher'" th:text="${voucher.getDiscount()}"> </span>
                            <span th:unless = "${voucher.getType()} eq 'FixedAmountVoucher'" >-</span>
                        </td>
                        <td>
                            <span th:if= "${voucher.getType()} eq 'PercentDiscountVoucher'" th:text="${voucher.getDiscount()}"> </span>
                            <span th:unless = "${voucher.getType()} eq 'PercentDiscountVoucher'" >-</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div> <!-- /container -->

</body>
</html>
