<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button onclick="location.href='fixed.html'"
                        th:onclick="|location.href='@{/vouchers/fixed/add}'|">
                    Fixed Amount Voucher
                </button>
            </li>
            <li class="list-group-item">
                <button onclick="location.href='percent.html'"
                        th:onclick="|location.href='@{/vouchers/rate/add}'|">
                    Percent Discount Voucher
                </button>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
