<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />
<body class="container-fluid">
<div th:replace="fragment/bodyHeader :: bodyHeader" />
<h2>Customer List</h2>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">customerId</th>
    <th scope="col">name</th>
    <th scope="col">email</th>
    <th scope="col">createdAt</th>
    <th scope="col">updatedAt</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer: ${customers}" th:object="${customer}">
    <td th:text="*{customerId}"></td>
    <td th:text="*{name}"></td>
    <td th:text="*{email}"></td>
    <td th:text="*{createdAt}"></td>
    <td th:text="*{updatedAt}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>