<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>[Project-Order]New Voucher</title>
</head>
<body class="container-fluid">
<h1>New Voucher</h1>
<form th:action="@{/vouchers/new}" th:method="post">
    <label for="voucherType" class="form-label">Voucher Type</label>
    <select id="voucherType" th:name="voucherType" class="form-select" required>
        <option selected>Choose the type of voucher</option>
        <option value="FIXED">Fixed Amount Voucher</option>
        <option value="PERCENT">Percent Discount Voucher</option>
    </select>
    <label for="discountValue" class="form-label">Discount Value</label>
    <input type="number" id="discountValue" class="form-control" th:name="discountValue" required><br>
    <div>
        <button type="submit" class="btn btn-primary">create</button>
    </div>
</form>
</body>