<!DOCTYPE html>
<html lang="kr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>demo</title>
    <th:block th:insert="fragment/config::confilgFragment"></th:block>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<section class="container-fluid" layout:fragment="content">

</section>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
<th:block th:insert="fragment/config::scriptConfigFragment"></th:block>
</body>

</html>