<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer 바우처 추가</title>
</head>
<body>
<form th:action="@{/customers/wallets/add}" method="post">
    <input type="hidden" th:name="userId" th:value="${userId}" />
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>바우처 아이디</th>
            <th>바우처 할인율</th>
            <th>바우처 타입</th>
            <th>선택</th>
        </tr>
        </tbody>
        <tbody>
        <tr th:each="voucher : ${vouchers}">
            <td th:text="${voucher.id}"></td>
            <td th:text="${voucher.discount}"></td>
            <td th:text="${voucher.voucherDiscountType}"></td>
            <td><input type="radio" th:value="${voucher.id}" th:name="voucherId"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">제출</button>
</form>
</body>
</html>
