<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create customer</title>
</head>
<body>
<div>
    <form th:action="@{/customers/create}" method="post">
        <div>
            <label th:for="name">이름</label>
            <input type = "text" style="width: 400px; padding: 5px;" name = "name">
        </div>
        <br>
        <div>
            <label th:for="email">email</label>
            <input type = "text" style="width: 400px; padding: 5px;" name = "email">
        </div>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>
