<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/common.css}">
    <link rel="stylesheet" th:href="@{/styles/list.css}">
    <title>customer Management Admin - Customers</title>
</head>
<body>
<div class="customer-page-container">
    <header>
        <h1>All Customers</h1>
    </header>
    <div>
        <button class="back-to-home-button"
                onclick="location.href='/'"
        >
            Back To Home
        </button>
    </div>
    <div class="customers-container">
        <div class="customer-item-header">
            <div class="customer-item-description">
                <span class="customer-id">Customer ID</span>
                <span class="customer-name">Customer Name</span>
                <span class="customer-type">Customer Type</span>
            </div>
            <button class="customer-add-button"
                    onclick="location.href='/customers/create'"
            >
                Add New Customer
            </button>
        </div>
        <div class="customer-items">
            <div th:each="customer : ${customers}"
                 th:object="${customer}"
                 class="customer-item"
            >
                <div class="customer-item-detail">
                    <span th:text="*{customerId}" class="customer-id"></span>
                    <span th:text="*{name}" class="customer-name"></span>
                    <span th:text="*{customerType}" class="customer-type"></span>
                </div>
                <button class="customer-detail-btn">
                    <a th:href="@{/customers/{id}(id=*{customerId})}">
                        View Detail
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
