<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/common.css}">
    <title>Voucher Management Admin - Deleted</title>
</head>
<body>
<header>
    <h1>Customer has been successfully deleted!</h1>
</header>
<div>
    <button onclick="location.href='/customers'">
        Back To List
    </button>
</div>
</body>
</html>
