<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .container {
            max-width: 1000px;
        }
    </style>
    <title>Customer Assign</title>
</head>
<body class="container">
    <a href="/"><h1>KDT Spring App</h1></a>
    <a href="/customers"><h2>Customer Home</h2></a>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Type</th>
                <th>Value</th>
                <th>Created</th>
                <th>Assign!</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="voucher, stat : ${vouchers}">
                <td th:text="${stat.count}"></td>
                <td th:text="${voucher.voucherId}"></td>
                <td th:text="${voucher.type}"></td>
                <td th:text="${voucher.value}"></td>
                <td th:text="${voucher.createdAt}"></td>
                <td>
                    <form th:action="|@{/customers/{customerId}/vouchers/{voucherId}(customerId=${customerId}, voucherId=${voucher.voucherId})}|" th:method="post">
                        <div class="mx-auto mt-2 gap-3 d-flex justify-content-center">
                            <button type="submit" class="w-75 p-2 btn btn-primary">Assign</button>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>