<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>KDT - Customer Details</title>
</head>
<body class="container-fluid">
<h1>KDT Spring App</h1>
<h2>Customer Details</h2>
<form method="POST" th:action="@{/customers/update/{email}(email=${customer.email})}" th:object="${customer}">
    <div class="mb-3">
        <label class="form-label" for="CustomerId">CustomerId</label>
        <input class="form-control" id="CustomerId" name="name" th:field="${customer.customerId}" th:readonly="true"
               type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" id="name" name="name" th:field="${customer.name}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email address</label>
        <input aria-describedby="emailHelp" class="form-control" id="email" name="email" th:field="${customer.email}"
               type="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="createdTime">Created At</label>
        <input class="form-control" id="createdTime" name="createdTime" th:field="${customer.createdTime}"
               th:readonly="true"
               type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="lastLoginTime">Last Login At </label>
        <input class="form-control" id="lastLoginTime" name="lastLoginTime" th:field="${customer.lastLoginTime}"
               th:readonly="true"
               type="text">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

</body>
