<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/static/style.css}" rel="stylesheet" />
    <title>Voucher Admin</title>
</head>
<body>
    <h1 class="header">Voucher Admin</h1>
    <div class="container-fluid">
        <h3>고객 추가</h3>
        <form th:action="@{/customers/new}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <button type="submit" class="btn btn-primary">추가</button>
        </form>
        <div class="beforeBtnArea">
            <a th:href="@{/customers}" class="btn btn-secondary">이전으로</a>
        </div>
    </div>
</body>
</html>