application:
  title: "voucher-management-system"
  version: "1.0.0"

file:
  path:
    blacklist: "src/main/resources/blacklist.csv"
    voucher_data: "src/main/resources/voucher_data.json"
---
spring:
  profiles:
    active: "prod"
---
spring:
  profiles:
    active: "dev"
---
spring:
  profiles:
    active: "local"
---
spring:
  profiles:
    active: "debug"
