<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <property name="LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}){yellow} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>

    </root>

    <logger name="java.org.prgrms.vouchermanager" level="info" addtivity="false"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/voucher-manager.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.prgrms.vouchermanager" level="info">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>