<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Find Owned Customers by Voucher</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Find Customers who Own a Specific Voucher</h1>
  <form action="/vouchers/owned-customers" th:object="${ownedCustomersRequest}" method="post">
    <div class="form-group">
      <label for="voucherId">Voucher ID</label>
      <input type="text" class="form-control" id="voucherId" th:field="*{voucherId}" placeholder="Enter Voucher ID">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
