<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voucher Application</title>
</head>
<body>

<h1>Read Customer.</h1>
<h2>Type customer's id to read.</h2>

<ul>
    <li th:each="link: ${links}">
        <a th:href="@{${link[1]}}" th:text="${link[0]}">Menu Text</a>
    </li>
</ul>

<form th:action="@{/customer/read}" method="get">
    <label for="customer-id">ID: </label>
    <input id="customer-id" type="number" name="id" required placeholder="1" min="1" th:value="${id}">
    <input type="submit" value="Search">
</form>

<h3 th:text="${error}"></h3>

<table style="border: 1px solid black">
    <tr>
        <th>ID</th><th>Username</th><th>Alias</th><th>Blacklisted</th><th>Created</th>
    </tr>
    <tr th:unless="${customer == null}" th:object="${customer}" style="background-color: aliceblue">
        <td th:text="*{id}"></td><td th:text="*{username}"></td><td th:text="*{alias}"></td><td th:text="*{blacklisted}"></td><td th:text="*{createdAt}"></td>
    </tr>
</table>

</body>
</html>