<!DOCTYPE HTML>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>Voucher create</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>바우처 등록</h2>
    </div>
    <h4 class="mb-3">바우처 입력</h4>
    <form action="voucher.html" th:action method="post">
        <div>
            <label>바우처 타입</label>
            <label>
                <select name="voucherType" multiple size = "2">
                    <option th:each="type : ${voucherType}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </label>
        </div>
        <div>
            <label for="discount">할인가격/할인율</label>
            <input type="text" id="discount" name="discount" class="form-control"
                   placeholder="할인 정보를 입력하세요">
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">바우처 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='vouchers.html'"
                        th:onclick="|location.href='@{/basic/vouchers}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>