<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/head::headFragment"></head>

<body class="container-fluid">

<div class="d-grid gap-2 justify-content-md-center">
    <br/>
    <h1>유저 상세 페이지</h1>
    <br/>
</div>

<div class="container">
    <form >
        <fieldset disabled>
            <legend th:text="|${user.name} 상세 정보|">유저 상세 정보</legend>
            <div class="mb-3">
                <label for="disabledTextInput1" class="form-label">Id</label>
                <input type="text" id="disabledTextInput1" class="form-control" th:placeholder="${user.id}" placeholder="Id">
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Type</label>
                <select id="disabledSelect" class="form-select">
                    <option th:text="${user.type}">NORMAL</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledTextInput2" class="form-label">Name</label>
                <input type="text" id="disabledTextInput2" class="form-control" th:placeholder="${user.name}" placeholder="Amount">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput3" class="form-label">CreatedAt</label>
                <input type="text" id="disabledTextInput3" class="form-control" th:placeholder="${user.createdAt}" placeholder="CreatedAt">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput4" class="form-label">UpdatedAt</label>
                <input type="text" id="disabledTextInput4" class="form-control" th:placeholder="${user.updatedAt}" placeholder="UpdatedAt">
            </div>
        </fieldset>
    </form>

    <form th:action="@{/user/{param1}(param1=${user.id})}" th:method="delete">
        <input type="hidden" name="_method" value="delete"/>
        <a th:href="@{/users}" class="btn btn-outline-success me-md-2 btn-lg" type="button">뒤로가기</a>
        <button type="submit" class="btn btn-outline-primary me-md-2 btn-lg" disabled>수정하기</button>
        <button type="submit" class="btn btn-outline-danger btn-lg">삭제하기</button>
    </form>
</div>


</body>
</html>