<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="confilgFragment">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</th:block>
<th:block th:fragment="scriptConfigFragment">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(".navbar-nav .nav-link").on("click", function () {
            console.log("클릭됐어용" + this.className);
            $(".navbar-nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</th:block>
</html>