<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="confilgFragment">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</th:block>

<nav class="navbar navbar-expand-lg bg-light sticky-top" th:fragment="headerFragment">
    <div class="container-fluid">
        <a class="navbar-brand" href="/vouchers">바우쳐 관리 프로그램</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="#">바우쳐 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">바우쳐 추가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">바우쳐 관리</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>