<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebarFragment">
    <div class="sidebar-heading border-bottom bg-light">Select Menu</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Main</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Voucher</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Customer</a>
    </div>
</div>
</html>