<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="container-fluid">
<h2 style="text-align: center">바우처 생성</h2>
<form th:action="@{/vouchers/new}" method="post" style="width: 800px; margin: 0 auto">
    <div class="mb-3">
        <label for="voucherType" class="form-label">바우처 타입</label>
        <select id="voucherType" name="voucherType" class="form-select">
            <option th:each="type: ${voucherType}" th:text="${type.getType()}" th:value="${type.getType()}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="discountValue" class="form-label">할인 값</label>
        <input type="text" name="discountValue" id="discountValue" class="form-control" placeholder="할인 값을 입력해주세요"/>
        <input th:value="생성" type="submit" class="btn btn-success" style="margin-top: 10px"/>
    </div>
</form>

</body>
</html>