<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="container-fluid">
<h2>바우처 상세정보</h2>
<form th:action="@{/vouchers/{voucherId}(voucherId=*{voucherId})}" method="post">
    <input name="_method" type="hidden" value="PUT" />
    <div class="mb-3">
        <label for="voucherId" class="form-label">바우처 아이디</label>
        <input th:value="${voucher.voucherId}" th:disabled="disabled" type="text" id="voucherId" name="voucherId" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="voucherType" class="form-label">바우처 타입</label>
        <select id="voucherType" name="voucherType" class="form-select">
            <option th:each="type: ${voucherType}" th:text="${type.getType()}" th:value="${type.getType()}" th:selected="${type.getType()}==${voucher.voucherType.getType()}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="discountValue" class="form-label">할인 값</label>
        <input th:value="${voucher.discountValue}" type="text" name="discountValue" id="discountValue" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="customerId" class="form-label">고객 아이디</label>
        <input th:value="${voucher.customerId}" th:disabled="disabled" type="text" name="customerId" id="customerId" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="createdDateTime" class="form-label">생성 날짜</label>
        <input th:value="${#temporals.format(voucher.createdDateTime, 'yyyy-MM-dd HH:mm')}" th:disabled="disabled" type="text" name="createdDateTime" id="createdDateTime" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="modifiedDateTime" class="form-label">수정 날짜</label>
        <input th:value="${#temporals.format(voucher.modifiedDateTime, 'yyyy-MM-dd HH:mm')}" th:disabled="disabled" type="text" name="modifiedDateTime" id="modifiedDateTime" class="form-control"/>
    </div>
    <input th:value="수정" type="submit" class="btn btn-success"/>
</form>

</body>
</html>