<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Voucher</title>
</head>
<body>
<div>
    <form method="get" th:action="@{/vouchers/find}">
        <div>
            <label for="voucherId">Voucher ID</label><br>
            <input id="voucherId" name="voucherId" placeholder="Enter the Voucher Id" type="text">
        </div>
        <button type="submit">조회</button>
    </form>
    <br>
    <form th:action="@{/}" th:method="GET">
        <button type="submit">Home</button>
    </form>
</div>
</body>
</html>