<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create Voucher</title>
</head>
<body>
<h1>바우처 생성</h1>
<form action="/vouchers" method="post">
  <label for="name">이름:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="voucherType">바우처 타입:</label>
  <select id="voucherType" name="voucherType" required>
    <option value="FIXED">고정</option>
    <option value="PERCENT">퍼센트</option>
  </select><br><br>

  <label for="discountAmount">할인가(률):</label>
  <input type="number" id="discountAmount" name="discountAmount" required><br><br>

  <button type="submit">생성</button>
</form>
</body>
</html>
