<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        } </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>바우처 상세</h2></div>
    <div>
        <label for="voucherId">바우처 ID</label>
        <input type="text" id="voucherId" name="voucherId" class="form-control" th:value="${voucher.voucherId()}"
               readonly>
    </div>
    <div>
        <label for="voucherType">바우처 타입</label>
        <input type="text" id="voucherType" name="voucherType" class="form-control" th:value="${voucher.voucherType}"
               readonly></div>
    <div>
        <label for="voucherAmount">바우처 금액</label>
        <input type="text" id="voucherAmount" name="voucherAmount" class="form-control" th:value="${voucher.amount}"
               readonly>
    </div>
    <div>
        <label for="customerId">보유 고객</label>
        <input type="customerId" id="customerId" name="customerId" class="form-control" th:value="${voucher.customerId}"
               readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="row">
            <div class="col">
                <form th:action="@{/vouchers/{id}(id=${voucher.voucherId()})}" method="post">
                    <button class="w-100 btn btn-secondary btn-lg" type="submit">삭제</button>
                </form>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='vouchers.html'"
                        th:onclick="|location.href='@{/vouchers/list}'|"
                        type="button">목록으로
                </button>
            </div>
        </div>
    </div> <!-- /container -->
</body>
</html>
