<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Voucher Info</h1>
<ul th:object="${voucher}">
    <div>
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" id="id" th:value="*{voucherId.toString()}" readonly>
        <br>

        <div>
            <label for="policy" class="form-label">할인 정책</label>
            <input type="text" class="form-control" id="policy" th:value="*{getVoucherPolicy().toString()}">
            <br>
        </div>

        <div>
            <label for="name" class="form-label">할인 수치</label>
            <input type="text" class="form-control" id="name" th:field="*{discountFigure}" readonly>
            <br>
        </div>

        <div>
            <label for="createdAt" class="form-label">생성일</label>
            <input type="text" class="form-control" id="createdAt" th:field="*{createdAt}" readonly>
            <br>
        </div>
    </div>

    <br>

    <form id="delete_form" th:action="@{/admin/vouchers/{id}(id=${voucher.getVoucherId().toString()})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <a onclick="if (confirm('정말로 삭제하시겠습니까?')) document.getElementById('delete_form').submit();" class="btn btn-danger">삭제</a>
    </form>
</ul>
</body>
</html>
