<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<h2 th:text="#{page.voucher.list}">바우처 목록</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{label.voucher.voucherId}">바우처 일련번호</th>
            <th th:text="#{label.voucher.type}">바우처 종류</th>
            <th th:text="#{label.voucher.amount}">바우처 할인 수치</th>
            <th th:text="#{label.voucher.memberId}">바우처 주인 ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}">
            <td><a th:href="@{|/vouchers/${voucher.voucherId}|}" th:text="${voucher.voucherId}">바우처 일련번호</a></td>
            <td><a th:href="@{|/vouchers/${voucher.voucherId}|}" th:text="${voucher.type.getName()}">바우처 종류</a>
            </td>
            <td th:text="${voucher.amount}">바우처 할인 수치</td>
            <td th:text="${voucher.memberId}">바우처 주인 ID</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button type="button" th:text="#{button.home}" th:onclick="|location.href='@{/}'|">메인 메뉴</button>
</div>
</body>
</html>