<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Voucher List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <a href="/" class="btn btn-primary mb-3">메인으로</a>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>바우처 아이디</th>
      <th>바우처 할인율</th>
      <th>바우처 타입</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="voucher : ${vouchers}">
      <td th:text="${voucher.id}"></td>
      <td th:text="${voucher.discount}"></td>
      <td th:text="${voucher.voucherDiscountType}"></td>
      <td>
        <a th:href="@{/vouchers/{id}/delete (id = ${voucher.id})}" class="btn btn-danger">삭제</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <button type="button" onclick="location.href='/vouchers/create'" class="btn btn-success d-block text-center">생성</button>
  </div>
</div>
</body>
</html>
