<configuration debug="true">
    <conversionRule
            conversionWord="clr"
            converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %clr(%-5level) %clr(${PID:-}){magenta} --- [%16thread]  %clr(%logger{36}){cyan} - %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS}  %-5level --- [%16thread] ${PID:-} %logger{36} - %msg%n"/>

    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/voucher.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/voucher-%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root>
        <springProfile name="dev" level="info">
            <appender-ref ref="STDOUT"/>
        </springProfile>
        <springProfile name="prod" level="info">
            <appender-ref ref="ROLLING_FILE"/>
        </springProfile>
    </root>
</configuration>