<!DOCTYPE HTML>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/font.css}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body class="web-font">
<div class="container">
    <div class="py-5 text-center">
        <h2>< 바우처 등록하기 ></h2></div>
    <h4 class="mb-3">바우처 정보를 입력해주세요 ଘ(੭ˊᵕˋ)੭* ੈ✩‧₊˚</h4>
    <form action="voucher.html" th:action th:object="${voucherDTO}" method="post">
        <div>
            <div>
                <div>바우처 타입 선택</div>
                <div th:each="type : ${voucherTypes}" class="form-check form-check-inline">
                    <input type="radio" th:field="*{voucherType}" th:value="${type}" class="form-check-input">
                    <label th:for="${#ids.prev('voucherType')}" th:text="${type}" class="form-check-label"></label>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('voucherType')}" th:errors="*{voucherType}" class="field-error">타입 오류</p>
            <div class="mt-3">
                <label for="amount">할인 금액</label>
                <input type="text" id="amount" name="amount" class="form-control" th:field="*{amount}"
                       placeholder="fix라면 가격을, percent라면 비율을 입력하시면 됩니다!">
            </div>
            <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="field-error">할인 정도 오류</p>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-outline-dark btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-outline-secondary btn-lg"
                        onclick="location.href='vouchers.html'"
                        th:onclick="|location.href='@{/voucher/vouchers}'|" type="button">취소
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
<script>
    function checkOnlyOne(element) {

        const checkboxes
            = document.getElementsByName("voucherType");

        checkboxes.forEach((cb) => {
            cb.checked = false;
        })

        element.checked = true;
    }

</script>
</html>