<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::title}, ~{::#content})}">
<head>
  <title>Voucher Create</title>
</head>
<body>
  <div id="content">
    <form method="POST">
      <div class="mb-3">
        <label for="voucherType" class="form-label">할인권 방식</label>
        <select class="form-select" id="voucherType" name="type" required>
          <option selected value="">할인권 방식을 선택하세요.</option>
          <option value="FIX">고정 금액 할인</option>
          <option value="PERCENT">비율 퍼센트 할인</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="discountAmount" class="form-label">할인 수치 (조건 - 고정 금액 선택 시, 1이상 자연수 | 비율 퍼센트 선택 시, 1이상 100이하 자연수)</label>
        <input type="number" class="form-control" id="discountAmount" name="discountAmount">
      </div>
      <button type="submit" class="btn btn-primary">만들기</button>
    </form>
  </div>
</body>
</html>