<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voucher Details</title>
</head>
<body>
<h1>Voucher Details</h1>

<table>
    <tr>
        <th>Id</th>
        <td th:text="${voucher.getVoucherId()}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${voucher.getName()}"></td>
    </tr>
    <tr>
        <th>type</th>
        <td th:text="${voucher.getType()}"></td>
    </tr>
    <tr>
        <th>value</th>
        <td th:text="${voucher.getValue()}"></td>
    </tr>
</table>

<a th:href="@{'/voucher/list'}">Back to List</a>

</body>
</html>
