<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <title>바우처 상세 페이지</title>
</head>
<body>

<h1 class="py-5 text-center">바우처 상세 페이지</h1>

<form th:action="@{/vouchers/update}" th:object="${voucher}" method="post">
    <div class="mb-3 py-5 text-center">
        <label for="voucherId" class="form-label">Voucher ID</label>
        <input type="text" class="form-control" id="voucherId" th:field="*{voucherId}" disabled>
        <input type="hidden" th:field="*{voucherId}">
    </div>
    <div class="mb-3 py-5 text-center">
        <label for="voucherType" class="form-label">Voucher Type</label>
        <select id="voucherType" class="form-select" aria-label="Default select example" th:field="*{voucherType}">
            <option value="FIXED_AMOUNT_VOUCHER_TYPE">Fixed amount Voucher</option>
            <option value="PERCENT_DISCOUNT_VOUCHER_TYPE">Percent Discount Voucher</option>
        </select>
    </div>
    <div class="mb-3 py-5 text-center">
        <label for="discount" class="form-label">Discount Amount</label>
        <input type="number" class="form-control" id="discount" th:field="*{discount}">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

<form th:action="@{/vouchers/delete}" th:method="post">
    <input type="hidden" th:field="${voucher.voucherId}">
    <button type="submit" class="btn btn-primary" >Delete</button>
</form>

</body>
</html>
