<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voucher Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Voucher Details</h1>
    <p>Voucher ID: <span th:text="${voucher.voucherId}"></span></p>
    <p>Discount Amount:
        <span th:text="${voucher.discountPolicy.amountOrPercent}"></span>
        <span th:utext="${voucher.discountPolicy.policyStatus == voucher.getDiscountPolicy().getPolicyStatus().PERCENT ? '%' : '원'}"></span>
    </p>
    <p>Policy Status: <span th:text="${voucher.discountPolicy.getPolicyStatus()}"></span></p>

    <a href="/voucher/voucher-home">
        <button type="button" class="btn btn-secondary">Go To Main Page</button>
    </a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
