<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Voucher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>View Voucher</h1>

<form action="/voucher/find" method="post">
    <label for="voucherId">Enter Voucher ID:</label>
    <input type="text" id="voucherId" name="voucherId" required>
    <br>

    <button type="submit" class="btn btn-primary">View Voucher</button>

    <a href="/voucher/voucher-home">
        <button type="button" class="btn btn-secondary">Go To Main Page</button>
    </a>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
