<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>바우처 목록</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <h1>Taehee's Voucher Program</h1>
    <h2>바우처 목록</h2>
</div>

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Voucher Type</th>
            <th scope="col">Discount Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}" th:object="${voucher}">
            <td th:text="*{voucherId}"></td>
            <td th:text="*{class.simpleName}"></td>
            <td th:text="*{discountValue}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
