<!doctype html>
<html lang="en">
<head th:insert="~{global/head.html:: head}">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">

    <h1 class="title-line">회원 메뉴</h1>

    <div class="container">
        <ul class="menu-list">
            <li>
                <a href="/voucher/vouchers">바우처 전체 조회</a>
            </li>
            <li>
                <a href="/voucher/create">바우처 생성</a>
            </li>

            <li><a href="/">Home</a></li>
        </ul>
    </div>

</div>
</body>
</html>