<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="d-flex" id="wrapper">
    <div th:include="/fragments/sidebar.html"></div>
    <div id="page-content-wrapper">
        <nav th:include="/fragments/nav.html"></nav>
        <!-- Page content-->
        <table border="1" class="table table-striped table-hover">
            <tr class="text-center">
                <th>#</th>
                <th>voucherId</th>
                <th>amount</th>
                <th>voucherType</th>
                <th></th>
            </tr>
            <tr class="text-center" th:each="voucher, iter : ${vouchers}">
                <td th:text="${iter.index+1}"></td>
                <td th:text="${voucher.voucherId}">voucherId</td>
                <td th:text="${voucher.amount}">amount</td>
                <td th:text="${voucher.voucherType}">null</td>
                <td style="width: 90px;height: 30px;">
                    <form id="voucher" th:action="@{'/voucher/' + ${voucher.voucherId}}" method="get">
                        <button id="info-btn">상세 보기</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>