<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="d-flex" id="wrapper">
    <div th:include="/fragments/sidebar.html"></div>
    <div id="page-content-wrapper">
        <nav th:include="/fragments/nav.html"></nav>
        <table border="1" class="table table-striped table-hover">
            <tr class="text-center">
                <th>voucherId</th>
                <th>amount</th>
                <th>voucherType</th>
                <th>createdAt</th>
                <th>customerId</th>
                <th></th>
            </tr>
            <tr class="text-center">
                <td th:text="${voucher.voucherId}">voucherId</td>
                <td th:text="${voucher.amount}">amount</td>
                <td th:text="${voucher.voucherType}">voucherType</td>
                <td th:text="${#temporals.format(voucher.createdAt,'yyyy-MM-dd HH:mm:ss')}">createdAt</td>
                <td th:text="${voucher.customerId}">null</td>
                <td style="width: 90px;height: 30px;">
                    <form id="deleteVoucher" th:action="@{'/voucher/' + ${voucher.voucherId}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button id="delete-btn">삭제</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
