<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <div class="row main-head ">
        <div class="col-12 main-title ">
            # 쿠폰 생성
        </div>
    </div>
    <div class="portlet">
    <form th:action="@{/vouchers}" method="post">
        <div>
            <label> 쿠폰 유형: </label>
            <input type="radio" id="fixedType" name="voucherType" value="FIXED" /> $ 할인 쿠폰
            <input type="radio" id="percentType" name="voucherType" value="PERCENT" /> % 할인 쿠폰<br/>
        </div>
        <div>
            <label for="discountValue">할인 금액 또는 할인율 : </label>
            <input type="text" id="discountValue" name="discountValue" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">쿠폰 생성</button>
        </div>
    </form>
    </div>
</th:block>
</html>