<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>바우처 목록</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Taehee's Voucher Program</h1>
    <h2>바우처 목록</h2>
    <h2 th:unless="${customer == null}" th:text="${customer.customerName}"/>
</div>

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Voucher Type</th>
            <th scope="col">Discount Value</th>
            <th scope="col" th:if="${vouchers.get(0).customer  == null}">assign</th>
            <th scope="col">delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}" th:object="${voucher}">
            <td th:text="*{voucherId}" th:voucherId="*{voucherId}"
                onclick="findById(this.getAttribute('voucherId'))"></td>
            <td th:text="*{class.simpleName}"></td>
            <td th:text="*{discountValue}"></td>
            <td th:if="${customer == null}">
                <a th:href="@{/vouchers/assign/{id}(id=${voucher.voucherId})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-bag-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                </a>
            </td>
            <td th:voucherId="*{voucherId}" onclick="deleteById(this.getAttribute('voucherId'))">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <button th:if="${vouchers.get(0).customer  == null}" class="btn btn-primary" type="button" onclick="deleteAll()">전체삭제</button>
    <button th:unless="${vouchers.get(0).customer == null}" th:email="${vouchers.get(0).customer.email}" class="btn btn-primary" type="button" onclick="deleteByEmail(this.getAttribute('email'))">
        내 바우처 전체삭제
    </button>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/vouchers'">확인</button>
</div>

<script type="text/javascript">
    function findById(value) {
        location.href = "/vouchers/" + value;
    }

    function deleteById(value) {
        let answer = confirm("삭제할까요?");
        if (answer) {
            axios.delete('/api/v1/vouchers/' + value)
                .then(() => {
                    alert("삭제되었습니다.");
                    window.location = '/vouchers';
                })
                .catch(() => {
                    alert("삭제에 실패하였습니다.");
                });
        }
    }

    function deleteAll() {
        let answer = confirm("모든 바우처를 삭제할까요?");
        if (answer) {
            axios.delete('/api/v1/vouchers')
                .then(() => {
                    alert("삭제되었습니다.");
                    window.location = '/vouchers';
                })
                .catch(() => {
                    alert("삭제에 실패하였습니다.");
                });
        }
    }

    function deleteByEmail(value) {
        let answer = confirm("보유한 바우처를 모두 삭제할까요?");
        if (answer) {
            axios.delete('/api/v1/vouchers/email=' + value)
                .then(() => {
                    alert("삭제되었습니다.");
                    window.location = '/vouchers';
                })
                .catch(() => {
                    alert("삭제에 실패하였습니다.");
                });
        }
    }
</script>

</body>
</html>
