<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Voucher List</h1>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>Voucher ID</th>
            <th>Voucher Type</th>
            <th>Discount</th>
            <th>Customer Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}">
            <td th:text="${voucher.voucherId}"></td>
            <td th:text="${voucher.discount}"></td>
            <td th:text="${voucher.voucherType}"></td>
            <td th:text="${voucher.getCreatedAt()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container d-flex justify-content-center mt-3">
    <form th:action="@{/}" th:method="GET">
        <button type="submit" class="btn btn-primary">Home</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
