<!doctype html>
<html lang="en">
<head>
  <!-- 필수 메타 태그 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">

  <title>Voucher List</title>
</head>
<body class="container-fluid" style="text-align: center">
<h1>Voucher List</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a th:href="@{/voucher/new}" class="btn btn-primary me-md-2" type="button">Add Voucher</a>
</div>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Voucher Type</th>
    <th scope="col">Discount</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="voucher: ${vouchers}" th:object="${voucher}">
    <td>
      <a th:href="@{/voucher/{id}(id=${voucher.voucherId})}" th:text="${voucher.voucherId}"></a>
    </td>
    <td th:text="${voucher.voucherType}"></td>
    <td th:text="${voucher.discountAmount}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
