.title {
    text-align: center;
    margin-top: 0.5em;
}

.delete {
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.delete:hover {
    transform: scale(1.1);
}

.delete-form {
    visibility: hidden;
}