<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create Voucher</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Create Voucher</h1>
    <!-- Navigation bar -->
    <div th:include="navbar.html"></div>

    <form method="post" th:action="@{/vouchers/create}">
        <div class="form-group mt-3">
            <label for="voucherId">Voucher ID:</label>
            <input type="text" class="form-control" id="voucherId" name="voucherId">
        </div>
        <div class="form-group mt-3">
            <label for="voucherPolicy">Voucher Policy:</label>
            <input type="text" class="form-control" id="voucherPolicy" name="voucherPolicy">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create Voucher</button>
    </form>

    <a class="btn btn-secondary mt-3" th:href="@{/vouchers}">Cancel</a>
</div>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
