<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Customer List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getCustomerId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <!-- Add more data as needed -->
    </tr>
    </tbody>
</table>
</body>
</html>
