<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 관리 페이지</title>
</head>
<body>

<h1>고객 관리 페이지</h1>
<a th:href="@{/view/v1/home}">메인 페이지</a>
<form th:action="@{customer-vouchers}" method="get">
    <label for="customerId"></label>
    <input type="text" name="customerId" id="customerId"/>
    <button type="submit">고객 검색</button>
</form>
<table border="1">
    <thead>
    <tr>
        <td>고객 번호</td>
        <td>고객 상태</td>
        <td>고객 상세 페이지</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.customerId}">
            고객 번호
        </td>
        <td th:text="${customer.customerId}">고객 상태</td>
        <td>
            <a th:href="@{/view/v1/customer-vouchers/{customerId}(customerId = ${customer.customerId})}"
               th:inline="text">
                [[${customer.customerId}]]번 고객 상세 페이지
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>