<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot Basic</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>SpringBoot Basic</h1>
    <p>Voucher Management Options</p>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/voucher/voucher-home">Voucher Page</a>
        </li>
        <li class="list-group-item">
            <a href="/wallet/wallet-home">Wallet Page</a>
        </li>
    </ul>
</div>

<!-- 부트스트랩 JavaScript 및 jQuery 링크 추가 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
