<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoucherManagement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>VoucherManagement</h1>
    <br>
    <section class="mb-4">
        <h4>About Voucher</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/voucher/createForm" class="text-decoration-none">Create Voucher</a>
            </li>
            <li class="list-group-item">
                <a href="/voucher/findForm" class="text-decoration-none">Find Voucher</a>
            </li>
            <li class="list-group-item">
                <a href="/voucher/list" class="text-decoration-none">List Voucher</a>
            </li>
            <li class="list-group-item">
                <a href="/voucher/updateForm" class="text-decoration-none">Update Voucher</a>
            </li>
            <li class="list-group-item">
                <a href="/voucher/deleteForm" class="text-decoration-none">Delete Voucher</a>
            </li>
        </ul>
    </section>
    <br>
    <section>
        <h4>About Wallet</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/wallet/addForm" class="text-decoration-none">Add Voucher</a>
            </li>
            <li class="list-group-item">
                <a href="/wallet/findVoucherForm" class="text-decoration-none">Show All Vouchers in Wallet</a>
            </li>
            <li class="list-group-item">
                <a href="/wallet/findCustomerForm" class="text-decoration-none">Show All Customers in Wallet</a>
            </li>
            <li class="list-group-item">
                <a href="/wallet/deleteForm" class="text-decoration-none">Remove Voucher</a>
            </li>
        </ul>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
