<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot Basic</title>
</head>
<body>
<div class="container">
    <h1>SpringBoot Basic</h1>
    <p>Voucher Options</p>
    <hr>
    <ul>
        <li>
            <a href="/vouchers/createForm">Create Voucher</a>
        </li>
        <li>
            <a href="/vouchers/findForm">Find Voucher</a>
        </li>
        <li>
            <a href="/vouchers/list">List Vouchers</a>
        </li>
        <li>
            <a href="/vouchers/updateForm">Update Voucher</a>
        </li>
        <li>
            <a href="/vouchers/deleteForm">Delete Voucher</a>
        </li>
    </ul>
    <p>Wallet Options</p>
    <hr>
    <ul>
        <li>
            <a href="/wallets/addForm">Add Voucher</a>
        </li>
        <li>
            <a href="/wallets/deleteForm">Remove Voucher</a>
        </li>
        <li>
            <a href="/wallets/findVoucherForm">Show All Vouchers in Wallet</a>
        </li>
        <li>
            <a href="/wallets/findCustomerForm">Show All Customers has Voucher</a>
        </li>
    </ul>
</div>
</body>
</html>