<!doctype html>
<html lang="en">
<head th:insert="~{global/head.html:: head}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="title-line">메인 페이지</h1>

        <div class="container">
            <ul class="menu-list">
                <li>
                    <i class="bi bi-person-circle"></i>
                    <a href="/customer/menu">회원 메뉴</a>
                </li>
                <li>
                    <i class="bi bi-ticket-fill"></i>
                    <a href="/voucher/menu">바우처 메뉴</a>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>