<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Voucher Id</th>
                <th>Type</th>
                <th>Discount Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="voucherDto : ${voucherDtos}">
                <td><a th:text="${voucherDto.getVoucherId()}" th:href="@{/template/list/{id}(id=${voucherDto.getVoucherId()})}">1</a></td>
                <td><a th:text="${voucherDto.getVoucherType()}" th:href="@{/template/list-type(type=${voucherDto.getVoucherType()})}">2</a></td>
                <td th:text="${voucherDto.getAmount()}">3</td>
            </tr>
            </tbody></table>
    </div>
</div> <!-- /container -->
</body>
</html>