<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>New Voucher</title>
</head>
<body class="container-fluid">
<h1>Voucher Application</h1>
<h2>New Voucher</h2>
<form th:action="@{/vouchers/new}" method="post">
    <div class="mb-3">
        <label for="inputValue" class="form-label">Value</label>
        <input type="number" name="value" class="form-control" id="inputValue" aria-describedby="valueHelp">
    </div>
    <div class="mb-3">
        <label for="inputVoucherType" class="form-label">Voucher Type (FIXED or PERCENT)</label>
        <input type="text" name="voucherType" class="form-control" id="inputVoucherType">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>