<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .container {
                max-width: 560px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <H1>Order Form</H1>
            <div class="container">
                <form role="form" action="/template/order" th:object="${voucherDto}" method="post">
                    <div class="form-group">
                        <label th:for="voucherId">Voucher Id</label>
                        <input type="text" th:field="*{voucherId}" class="form-control"placeholder="사용할 Voucher Id를 입력하세요">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>