<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Add Bootstrap CSS and JS dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" th:action="@{/list/search/date}">
    <div class="form-row" style="max-width: 800px">
        <div class="form-group col">
            <label for="begin">날짜 및 시간 선택:</label>
            <input type="datetime-local" class="form-control" id="begin" name="begin"
                   th:value="${begin}">
        </div>
        <div class="form-group col">
            <label for="end">날짜 및 시간 선택:</label>
            <input type="datetime-local" class="form-control" id="end" name="end"
                   th:value="${end}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">제출</button>
    <a th:href="@{/}" class="btn btn-secondary" role="button">Home</a>
</form>
</body>

</html>
