<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>바우처 관리 페이지</title>
</head>
<body>

<h1>바우처 관리 페이지</h1>

<a th:href="@{/view/v1/home}">메인 페이지</a>
<p th:if="${findResult == false}">바우처 검색에 실패 하였습니다.</p>
<form th:action="@{/view/v1/vouchers/search}" method="get">
    <label for="voucherId"></label>
    <input type="text" name="voucherId" id="voucherId" placeholder="바우처 번호를 입력해주세요."/>
    <button type="submit">바우처 검색</button>
</form>
<table border="1">
    <thead>
    <tr>
        <td>바우처 번호</td>
        <td>바우처 할인 금액</td>
        <td>바우처 타입</td>
        <td>바우처 삭제</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="voucher : ${vouchers}">
        <td th:text="${voucher.voucherId}"></td>
        <td th:text="${voucher.discountValue}"></td>
        <td th:text="${voucher.voucherType}"></td>
        <td>
            <form th:action="@{/view/v1/vouchers/{voucherId}(voucherId = ${voucher.voucherId})}" th:method="DELETE">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>