<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Home</title>
</head>
<body class="container-fluid">
<h1>Detail</h1>
<form th:action="@{/vouchers}" method="get">

  <ul class="list-group" th:object="${voucher}">
    <li class="list-group-item" th:text="*{id}">An item</li>
    <li class="list-group-item" th:text="*{voucherType}">An item</li>
    <li class="list-group-item" th:text="*{discountAmount}">An item</li>
    <li class="list-group-item" th:text="*{isUsed}">An item</li>
    <li class="list-group-item" th:text="*{createdAt}">An item</li>
    <li class="list-group-item" th:text="*{expirationDate}">An item</li>
  </ul>
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" th:text="${voucher.id}">An item</li>-->
<!--    <li class="list-group-item" th:text="${voucher.voucherType}">An item</li>-->
<!--    <li class="list-group-item" th:text="${voucher.discountAmount}">An item</li>-->
<!--    <li class="list-group-item" th:text="${voucher.isUsed}">An item</li>-->
<!--    <li class="list-group-item" th:text="${voucher.createdAt}">An item</li>-->
<!--    <li class="list-group-item" th:text="${voucher.expirationDate}">An item</li>-->
<!--  </ul>-->

  <button type="submit" class="btn btn-primary">Back to List Page</button>
</form>



</body>
</html>