<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>바우처 등록 페이지</title>
</head>
<body>
<h1>바우처 등록 페이지</h1>
<a th:href="@{/view/v1/vouchers}">바우처 관리 페이지</a>
<form th:action="@{voucher-add}" method="post">
    <div>
        <label for="discountValue"></label>
        <input type="number" name="discountValue" id="discountValue" placeholder="할인 금액을 작성해주세요.">
    </div>
    <div>
        <label for="voucherType"></label>
        <select name="voucherType" id="voucherType">
            <option selected value="">==바우처 타입 선택==</option>
            <option value="fixed">고정 할인</option>
            <option value="percent">퍼센트</option>
        </select>
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>