<!DOCTYPE html>
<html lang="kr"
      layout:decorate="~{layout/voucher-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>바우쳐 조회 페이지</title>
</head>
<section layout:fragment="content">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

        <a class="btn btn-primary" th:href="@{/vouchers/new}" type="button">바우쳐 추가하기</a>
    </div>
    <table class="table table-hover table-responsive ">
        <thead>
        <tr>
            <th scope="col">voucher id</th>
            <th scope="col">value</th>
            <th scope="col">voucher type</th>
            <th scope="col">삭제하기</th>
        </tr>
        </thead>
        <tbody>
        <tr role="button" th:each="voucher:${vouchers}"
            th:onclick="|location.href = '@{/vouchers/{voucherId}(voucherId = ${voucher.getVoucherId().toString()})}'|">
            <th scope="row" th:text="${voucher.getVoucherId()}"></th>
            <td th:text="${voucher.getValue()}">Mark</td>
            <td th:text="${voucher.getVoucherType().name()}"></td>
            <td>
                <button class="btn btn-primary delete" th:attr="data-arg1=${voucher.getVoucherId()}" value="submit">삭제
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<script layout:fragment="f-script" th:inline="javascript">
    document.querySelectorAll(".delete").forEach(
        (element) => element.addEventListener("click", (e) => {
            e.stopPropagation();
            if (confirm("바우쳐를 삭제하시겠습니까?")) {
                const voucherId = e.target.getAttribute("data-arg1");
                axios.delete(`/vouchers/api/${voucherId}`)
                    .then(
                        () => {
                            alert("삭제에 성공했습니다");
                            location.reload();
                        })
                    .error(() => alert("삭제에 실패했습니다."));
            }
        })
    )
</script>
</html>