<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Grids & Circles</title>
</head>
<body class = "container-fluid">
<h1>Voucher Customer Service</h1>
<h2>Customer Management</h2>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a th:href="@{/customer/newcustomer}" class="btn btn-primary me-md-2" type="button">Add customer</a>
</div>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a th:href="@{/}" class="btn btn-primary me-md-2" type="button">Main page</a>
</div>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">customerId</th>
        <th scope="col">customerType</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">lastLoginAt</th>
        <th scope="col">createdAt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}" th:object="${customer}">
        <td><a th:href="@{|*{customerId}|}" th:text = "*{customerId}"}></a></td>
        <td th:text = "*{customerType}"></td>
        <td th:text = "*{name}"></td>
        <td th:text = "*{email}"></td>
        <td th:text = "*{lastLoginAt}"></td>
        <td th:text = "*{createdAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>