<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::#content})}">
<head>
  <title>Customer List</title>
</head>
<body>
  <div id="content">
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th>고객 ID</th>
        <th>고객 타입</th>
        <th>고객 닉네임</th>
        <th>설정</th>
      </tr>
      </thead>

      <tbody th:if="${!customers.isEmpty()}">
      <tr th:each="customer : ${customers}">
        <td th:text="${customer.getId()}">고객 ID</td>
        <td th:text="${customer.getType().getName()}">고객 타입</td>
        <td th:text="${customer.getNickname()}">고객 닉네임</td>
        <td class="d-flex">
          <a th:href="@{|/customers/${customer.getNickname()}/update|}" class="btn btn-warning btn-sm me-2" type="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>

    <p th:if="${customers.isEmpty()}" class="text-center my-5">생성된 고객 정보가 없습니다.</p>

    <hr>

    <div class="d-grid gap-2 d-flex justify-content-end">
      <a th:href="@{/customers/create}" class="btn btn-primary" type="button">새 고객 정보 만들기</a>
    </div>
  </div>
</body>
</html>