<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::#content})}">
<head>
  <title>Customer List</title>
</head>
<body>
  <div id="content">
    <h3 th:if="${status.equals('all')}" class="text-center mb-5">전체 고객 목록</h3>
    <h3 th:if="${status.equals('normal')}" class="text-center mb-5">일반 고객 목록</h3>
    <h3 th:if="${status.equals('black')}" class="text-center mb-5">블랙리스트 고객 목록</h3>

    <hr>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>고객 ID</th>
        <th>고객 타입</th>
        <th>고객 닉네임</th>
        <th>설정</th>
      </tr>
      </thead>

      <tbody th:if="${!customers.isEmpty()}">
      <tr th:each="customer : ${customers}">
        <td th:text="${customer.getId()}">고객 ID</td>
        <td th:text="${customer.getType().getName()}">고객 타입</td>
        <td th:text="${customer.getNickname()}">고객 닉네임</td>
        <td class="d-flex">
          <a th:href="@{|/customers/${customer.getNickname()}/update|}" class="btn btn-warning btn-sm me-2" type="button">수정</a>
          <form th:action="@{|/customers/${customer.getNickname()}/delete|}" method="POST">
            <button class="btn btn-danger btn-sm">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

    <div th:if="${customers.isEmpty()}">
      <p th:if="${status.equals('all')}" class="text-center my-5">생성된 고객 정보가 없습니다.</p>
      <p th:if="${status.equals('normal')}" class="text-center my-5">생성된 일반 고객 정보가 없습니다.</p>
      <p th:if="${status.equals('black')}" class="text-center my-5">생성된 블랙리스트 고객 정보가 없습니다.</p>
    </div>

    <hr>

    <div class="d-grid gap-2 d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <a th:href="@{/customers}" class="btn btn-outline-dark btn-sm" type="button">전체 고객 보기</a>
        <a th:href="@{/customers/normal}" class="btn btn-outline-dark btn-sm mx-2" type="button">일반 고객 보기</a>
        <a th:href="@{/customers/black}" class="btn btn-outline-dark btn-sm" type="button">블랙리스트 고객 보기</a>
      </div>
      <a th:href="@{/customers/create}" class="btn btn-primary" type="button">새 일반 고객 생성</a>
    </div>
  </div>
</body>
</html>