<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Customer Create Page</title>
</head>
<body class="d-flex flex-column align-items-center" style="height: 100vh;">
<div class="d-flex flex-column container-fluid align-items-center">
    <h1 class="mt-5 mb-3">Customer Create Page</h1>
    <img th:src="@{/img/bg.png}" class="img-fluid w-50">
</div>
<div class="w-75">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <a th:href="@{/customer}" class="btn btn-dark" type="button">Back</a>
    </div>

    <form th:action="@{/customer/viewNewPage}" method="post">
        <fieldset>
            <legend>고객 생성을 위하여 옵션을 선택해주세요.</legend>
            <div class="mb-3">
                <label for="name" name="name" class="form-label">고객의 이름을 입력하세요</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="홍길동"
                       onKeyUp="validateSpace(this)" onChange="validateSpace(this)">
            </div>
            <div class="mb-3">
                <label for="email" name="email" class="form-label">고객의 이메일을 입력하세요</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="abc@gmail.com"
                       onKeyUp="validateSpace(this)" onChange="validateSpace(this)">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
<script>
    function validateSpace(object) {
        let space = /\s/;
        if (space.exec(object.value)) {
            object.value = object.value.replace(/\s| /gi, '');
            return false;
        }
    }
</script>
</html>
