
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;}
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>고객 상세</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/customers/{customerId}/vouchers/add(customerId=${customer.customerId})}'|"
                    onclick="location.href='addVoucher.html'"
                    type="button">바우처 등록</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary float-end"
                    th:onclick="|location.href='@{/customers/{customerId}/vouchers(customerId=${customer.customerId})}'|"
                    onclick="location.href='vouchers.html'"
                    type="button">보유 바우처</button>
        </div>
    </div>
    <div>
        <label for="customerId">고객 ID</label>
        <input type="text" id="customerId" name="customerId" class="form-control"
               value="1" th:value="${customer.customerId}" readonly>
    </div> <div>
    <label for="name">이름</label>
    <input type="text" id="name" name="name" class="form-control"
           value="고객" th:value="${customer.name}" readonly> </div>
    <div>
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" class="form-control"
               value="test@gmail.com" th:value="${customer.email}"  readonly>
    </div> <div>
    <label for="lastLogin">최근 로그인</label>
    <input type="text" id="lastLogin" name="lastLogin" class="form-control"
           value="2022-04-20" th:value="${customer.lastLoginAt}"  readonly>
</div><div>
    <label for="lastLogin">최초 로그인</label>
    <input type="text" id="createLogin" name="createLogin" class="form-control"
           value="2022-04-20" th:value="${customer.createdAt}"  readonly>
</div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/customers/{customerId}/update(customerId=${customer.customerId})}'|"
                    onclick="location.href='updateCustomer.html'" type="button">고객 정보 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/customers/{customerId}/delete(customerId=${customer.customerId})}'|"
                    onclick="location.href='customers.html'" type="button">고객 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/customers}'|"
                    onclick="location.href='customers.html'" type="button">고객 목록으로</button> </div>
    </div>

</div> <!-- /container -->
</body>
</html>
