<head th:replace="fragments/header :: html-head" >
</head>
<body>
    <div class ="container">
        <div th:replace="fragments/header :: header">
        </div>
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>바우처 목록</h2>
        </div>
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>생성 날짜</th>
                        <th>바우처 타입</th>
                        <th>할인 양</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="voucher : ${vouchers}">
                        <form action="addVoucher.html" th:action method="post">
                            <td th:text="${voucher.createdAt}">생성날짜</td>
                            <td th:text="${voucher.type}">type</td>
                            <td th:text="${voucher.value}">value</td>
                            <td>
                                <button class="w-100 btn btn-secondary btn-lg"
                                        th:onclick="|'@{/customers/{customerId}/vouchers/delete/(customerId=${customerId})}'|"
                                        type="submit">삭제</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/customers/{customerId}(customerId=${customerId})}'|"
                        onclick="location.href='customers.html'" type="button">돌아가기
                </button>
            </div>
        </div>
    </div>
</body>
</html>