<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>바우처 목록</h2> </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>바우처 타입</th>
                <th>할인 양</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="voucher : ${vouchers}">
                <form action="addVoucher.html" th:action method="post">
                    <td><input id="voucherId" name="voucherId" type="text" th:placeholder="${voucher.voucherId}" th:value="${voucher.voucherId}" readonly/></td>
                    <td th:text="${voucher.type}">type</td>
                    <td th:text="${voucher.value}">value</td>
                    <td>
                        <button class="w-100 btn btn-secondary btn-lg"
                                th:onclick="|'@{/customers/{customerId}/vouchers/delete/(customerId=${customerId})}'|"
                                type="submit">삭제</button>
                    </td>
                </form>
<!--                <td><a href="voucher.html" th:href="@{vouchers/{voucherId}(voucherId=${voucher.voucherId})}" th:text="${voucher.voucherId}">Voucher Id</a></td>-->
<!--                <td th:text="${voucher.type}">type</a></td>-->
<!--                <td th:text="${voucher.value}">value</td>-->
<!--                <td>-->
<!--                    <button class="w-100 btn btn-secondary btn-lg"-->
<!--                            th:onclick="|'@{/customers/{customerId}/vouchers/delete/(customerId=${customerId})}'|"-->
<!--                            type="submit">삭제</button>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/customers/{customerId}(customerId=${customerId})}'|"
                    onclick="location.href='customers.html'" type="button">돌아가기</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>