<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        } </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>바우처 상세</h2></div>
    <div>
        <label for="voucherId">바우처 ID</label>
        <input type="text" id="voucherId" name="voucherId" class="form-control"
               value="1" th:value="${voucher.id}" readonly>
    </div>
    <div>
        <label for="type">타입</label>
        <input type="text" id="type" name="type" class="form-control"
               value="상품A" th:value="${voucher.type}" readonly></div>
    <div>
        <label for="amount">가격</label>
        <input type="amount" id="amount" name="amount" class="form-control"
               value="10000" th:value="${voucher.amount.value}" readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='vouchers.html'"
                    th:onclick="|location.href='@{/app/vouchers}'|" type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>