<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="views/fragments/header :: header">
</head>
<body>
<div>
    <div class="text-center mt-5">
        <a th:href="@{/main}" class="btn me-md-2" type="button"><h1>바우처 관리 시스템</h1></a>
    </div>
</div>
<div class="container">
    <br/>
    <h2>할당된 CustomerVoucher 목록</h2>
    <br/>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CustomerId</th>
            <th scope="col">Name</th>
            <th scope="col">VoucherId</th>
            <th scope="col">VoucherType</th>
            <th scope="col">Discount</th>
            <th scope="col">AllocateDate</th>
            <th scope="col">AllocateDelete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customerVoucher : ${customerVouchers}" th:object="${customerVoucher}">
            <td th:text="*{customerVoucherId}"></td>
            <td th:text="*{customerId}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{voucherId}"></td>
            <td th:text="*{voucherType}"></td>
            <td th:text="*{discount}"></td>
            <td th:text="*{allocatedAt}"></td>
            <td class="col-md-2">
                <a class="btn btn-outline-info" th:href="@{'/customers/'+*{customerId}+'/edit'}">할당 삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" >
    <br/>
    <h2>할당되지 않은 Voucher 목록</h2>
    <br/>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">VoucherType</th>
            <th scope="col">Discount</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">Allocate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}" th:object="${voucher}">
            <td th:text="*{voucherId}"></td>
            <td th:text="*{voucherType}"></td>
            <td th:text="*{discount}"></td>
            <td th:text="*{createdAt}"></td>
            <td class="col-md-2">
                <a class="btn btn-outline-info" th:method="get" th:href="@{'/customer-vouchers/'+*{voucherId}}">할당하기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>