<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="views/fragments/header :: header">
</head>
<body>
    <div class="container" >
        <div>
            <div class="text-center mt-5">
                <a class="btn" th:href="@{/main}"><h1>바우처 관리 시스템</h1></a>
            </div>
        </div>
        <div class="align_center">
            <br/>
            <p class="lead">Customer</p> <p>
                <a class="btn btn-lg btn-outline-primary" href="/customers/new">Customer 생성</a>
                <a class="btn btn-lg btn-outline-primary" href="/customers">Customer 목록</a> </p>
            <br/>
            <p class="lead">Voucher</p> <p>
                <a class="btn btn-lg btn-outline-secondary" href="/vouchers/new">Voucher 생성</a>
                <a class="btn btn-lg btn-outline-secondary" href="/vouchers">Voucher 목록</a> </p>
            <br/>
            <p class="lead">Voucher Allocate</p> <p>
                <a class="btn btn-lg btn-info" href="/customer-vouchers">voucher 할당하기</a>
        </div>
    </div>
</body>
</html>