<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voucher Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h2>바우처 추가</h2>
<form th:action="@{/voucher-new}" method="post">
    <div class="mb-3">
        <label for="voucherType" class="form-label">바우처 타입</label>
        <select class="form-select" id="voucherType" name="voucherType">
            <option selected>타입을 선택하세요.</option>
            <option value="FIXED">Fixed Amount Voucher</option>
            <option value="PERCENT">Percent Discount Voucher</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="discount" class="form-label">할인 정보</label>
        <input type="number" class="form-control" id="discount" name="discount">
    </div>

    <button type="submit" class="btn btn-primary">바우처 생성</button>
</form>
</body>
</html>