<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<div class="list-group">
    <a th:href="@{/new-voucher}" type="button" class="list-group-item list-group-item-action">새로운 바우처 생성</a>
    <a th:href="@{/vouchers}" type="button" class="list-group-item list-group-item-action">바우처 목록 조회</a>
    <a th:href="@{/customers}" type="button" class="list-group-item list-group-item-action">고객 정보 조회</a>
    <a th:href="@{/regist-voucher}" type="button" class="list-group-item list-group-item-action">고객 바우처 등록</a>
    <a th:href="@{/remove-voucher}" type="button" class="list-group-item list-group-item-action">고객 바우처 제거</a>
    <a th:href="@{/select-vouchers}" type="button" class="list-group-item list-group-item-action">바우처 별 고객 조회</a>
</div>


</body>
</html>