<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/head::headFragment"></head>

<body class="container-fluid">

<div class="d-grid gap-2 justify-content-md-center">
    <br/>
    <h1>바우처 상세 페이지</h1>
    <br/>
</div>

<div class="container">
    <form>
        <fieldset disabled>
            <legend>바우처 상세 정보</legend>
            <div class="mb-3">
                <label for="disabledTextInput1" class="form-label">Id</label>
                <input type="text" id="disabledTextInput1" class="form-control" th:placeholder="${voucher.id}" placeholder="Id">
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Type</label>
                <select id="disabledSelect"class="form-select">
                    <option th:text="${voucher.type}">FIXED</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledTextInput2" class="form-label">Amount</label>
                <input type="text" id="disabledTextInput2" class="form-control" th:placeholder="${voucher.amount}" placeholder="Amount">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput3" class="form-label">CreatedAt</label>
                <input type="text" id="disabledTextInput3" class="form-control" th:placeholder="${voucher.createdAt}" placeholder="CreatedAt">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput4" class="form-label">UpdatedAt</label>
                <input type="text" id="disabledTextInput4" class="form-control" th:placeholder="${voucher.updatedAt}" placeholder="UpdatedAt">
            </div>
        </fieldset>
    </form>
    <form th:action="@{/voucher/{param1}(param1=${voucher.id})}" th:method="delete">
        <input type="hidden" name="_method" value="delete"/>
        <a th:href="@{/vouchers}" class="btn btn-outline-success me-md-2 btn-lg" type="button">뒤로가기</a>
        <a th:href="@{/vouchers/{param}/edit(param=${voucher.id})}" class="btn btn-outline-primary me-md-2 btn-lg" type="button">수정하기</a>
        <button type="submit" class="btn btn-outline-danger btn-lg">삭제하기</button>
    </form>
</div>


</body>
</html>