<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/head::headFragment"></head>

<body class="container-fluid">

<div class="d-grid gap-2 justify-content-md-center">
    <br/>
    <h1>바우처 상세 페이지</h1>
    <br/>
</div>

<div class="container">
    <form th:action="@{/voucher/{param1}(param1=${voucher.id})}" th:method="post">
        <input type="hidden" name="_method" value="post"/>
        <legend>바우처 상세 정보</legend>
        <div class="mb-3">
            <label for="disabledTextInput1" class="form-label">Id</label>
            <input disabled type="text" id="disabledTextInput1" class="form-control" th:placeholder="${voucher.id}" placeholder="Id">
        </div>

        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Type</label>
            <select id="disabledSelect" class="form-select">
                <option th:if="${#strings.equals(voucher.type, 'PERCENT')}">PERCENT</option>
                <option th:if="${#strings.equals(voucher.type, 'PERCENT')}">FIXED</option>
                <option th:if="${#strings.equals(voucher.type, 'FIXED')}"> FIXED</option>
                <option th:if="${#strings.equals(voucher.type, 'FIXED')}"> PERCENT</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="disabledTextInput2" class="form-label">Amount</label>
            <input type="text" id="disabledTextInput2" class="form-control" th:placeholder="${voucher.amount}" placeholder="Amount">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput3" class="form-label">CreatedAt</label>
            <input disabled type="text" id="disabledTextInput3" class="form-control" th:placeholder="${voucher.createdAt}" placeholder="CreatedAt">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput4" class="form-label">UpdatedAt</label>
            <input disabled type="text" id="disabledTextInput4" class="form-control" th:placeholder="${voucher.updatedAt}" placeholder="UpdatedAt">
        </div>
        <button type="submit" class="btn btn-outline-primary me-md-2 btn-lg">수정하기</button>
    </form>
</div>


</body>
</html>