<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/head::headFragment"></head>

<body class="container-fluid">

    <div class="d-grid gap-2 justify-content-md-center">
        <br/>
        <h1>바우처 생성 페이지</h1>
        <br/>
    </div>

    <div class="container">
        <form th:action method="post">
            <div class="mb-3">
                <label for="inputVoucherType" class="form-label">바우처 타입</label>
                <select id="inputVoucherType" name="type" class="form-select">
                    <option value="FIXED" selected>FIXED</option>
                    <option value="PERCENT">PERCENT</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="inputVoucherAmount" class="form-label">할인 정도</label>
                <input type="number" name="amount" class="form-control" id="inputVoucherAmount">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a th:href="@{/vouchers}" class="btn btn-outline-success btn-lg me-md-2" type="button">뒤로가기</a>
                <button class="btn btn-outline-primary btn-lg" type="submit">생성하기</button>
            </div>
        </form>
    </div>

</body>
</html>