<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Voucher Management Application</title>
</head>
<body class="container-fluid">
<h1>Create Wallet</h1>
<form th:action="@{/wallet}" method="post">
    <div class="mb-3">
        <label for="customerId" class="form-label">Customer ID</label>
        <select id="customerId" name="customerId" class="form-select">
            <option selected>Choose a customer ID</option>
            <option th:each="customer : ${customers}" th:value="${customer.customerId}" th:text="${customer.customerId}">Customer Text</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="voucherId" class="form-label">Voucher ID</label>
        <select id="voucherId" name="voucherId" class="form-select">
            <option selected>Choose a voucher ID</option>
            <option th:each="voucher : ${vouchers}" th:value="${voucher.voucherId}" th:text="${voucher.voucherId}">Voucher Text</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>