<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/static/style.css}" rel="stylesheet" />
    <title>Voucher Admin</title>
</head>
<body>
    <h1 class="header">Voucher Admin</h1>
    <div class="container-fluid">
        <h3>바우처 수정</h3>
        <form th:action="@{'/vouchers/update/'+${voucher.voucherId}}" method="post">
            <div class="mb-3">
                <label class="form-label">바우처 ID</label>
                <div th:text="${voucher.voucherId}"></div>
            </div>
            <div class="mb-3">
                <label for="inputVoucherType" class="form-label">Voucher Type</label>
                <div>
                    <select name = "voucherType" th:value="${voucher.voucherType.getTypeName()}" id="inputVoucherType">
                        <option th:each="voucherType : ${voucherTypes}"
                                th:selected="${voucherType.getTypeName().equals(voucher.voucherType.getTypeName())}"
                                th:value="${voucherType.getTypeName()}"
                                th:text="${voucherType.getTypeName()}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputAmount" class="form-label">Amount</label>
                <input type="number" name="amount" th:value="${voucher.amount}" class="form-control" id="inputAmount">
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
        <div class="beforeBtnArea">
            <a th:href="@{'/vouchers/'+${voucher.voucherId}}" class="btn btn-secondary">이전으로</a>
        </div>
    </div>
</body>
</html>